@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
<<<<<<< HEAD:style.css
  background-color: rgb(253, 250, 250);
=======
  background-color: rgb(232, 226, 226);
  font-family: 'Poppins', 'sans-serif';
>>>>>>> 4382ab155dad79b7d01cd2a36026721add05ebf4:css/style.css
}

.shadow-bs {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */

body,
#news-content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar,
#news-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

body {
  font-family: 'Poppins', sans-serif;
}

#input {
  background-color: rgb(240, 237, 237);
}

<<<<<<< HEAD:style.css
.carousel-item img {
  height: 20vh;
  /* object-fit: cover; */
=======
@media (max-width:640px) {

  /* .cards-container{
     
  } */

  .card {
    width: 60vw;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
  }
>>>>>>> 4382ab155dad79b7d01cd2a36026721add05ebf4:css/style.css
}