@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(241, 234, 234);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* For Chrome */
  -moz-osx-font-smoothing: grayscale;
  /* For Firefox on macOS */
  text-rendering: optimizeLegibility;
  /* General */
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
}

input {
  background-color: white;
}

input:focus,
input:active {
  background-color: white;
}

.shadow-bs {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */

body,
#news-content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar,
#news-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

body {
  font-family: 'Poppins', sans-serif;
}

@media (max-width:640px) {

  #cards-container {

    /* margin: 10px auto;
    padding: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */
  }

  .card {
    width: 60vw;
    grid-template-columns: repeat(1, 1fr);
    /* place-content: center;
    margin: 10px auto; */
  }
}