@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color:rgb(245, 239, 239);
}

.shadow-bs {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */

body,
#news-content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar,
#news-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

body {
  font-family: 'Poppins', sans-serif;
}

#input {
  background-color: rgb(240, 237, 237);
}

.carousel-item img{
  height: 20vh;
  /* object-fit: cover; */
}